.round {
    display: flex;
    align-items: center;
    position: relative;
}
  
.round label {
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    height: 15px;
    width: 15px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 3px;
    left: 3px;
    opacity: 0;
    position: absolute;
    top: 4px;
    transform: rotate(-45deg);
    width: 6px;
    transition: opacity .4s;
}

.round input[type="checkbox"] {
    visibility: hidden;
    width: 0;
    height: 0;
}

.round input[type="checkbox"]:checked + label {
    background-color: #fd50a9;
}

.round input[type="checkbox"]:checked + label:after {
    opacity: 1;
}